header {
	min-height: 514px;
	background-image: url('../img/header-background.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	.container {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}
.subnav-left-bottom,
.subnav-right-bottom {
	a {
		display: inline-block;
		background-repeat: no-repeat;
	}
	a img {
		transition: all linear 0.5s;
	}
	a:hover {
		img {
			opacity: 0;
		}
	}
}
/********** header links with callback and delivery ***********/
.header-link {
	position: relative;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 10px;
	background-color: $color-pink-light;
	color: $color-pink-dark;
	& > div {
		display: inline-block;
		line-height: 32px;
	}
}
.header-callback-link {
	padding-left: 10px;
	& > div {
		padding: 0px 7px;
		border-left: 2px white solid;
		border-top-left-radius: 2em;
		border-bottom-left-radius: 1.5em;
		img {
			margin-top: 7px;
		}
	}
	&:after {
		content: url('../img/heart-additional.png');
		position: absolute;
		display: inline-block;
		right: -34px;
		bottom: -4px;
	}
}
.header-email-link {
	padding-right: 10px;
	margin-left: 50px;
	& > div {
		padding: 0 7px;
		border-right: 2px white solid;
		border-top-right-radius: 2em;
		border-bottom-right-radius: 1.5em;
		color: white;
		font-weight: bold;
	}
	&:before {
		content: url('../img/heart-additional.png');
		position: absolute;
		display: inline-block;
		left: -34px;
		bottom: -4px;
		transform: scaleX(-1);
	}
}
/********** navbar image links on hover in header ***********/
.nav-ranf-link:hover {
	background-image: url('../img/ranf-active.png');
}
.nav-satin-link:hover {
	background-image: url('../img/satin-active.png');
}
.nav-kids-link:hover {
	background-image: url('../img/kids-active.png');
}
.nav-aboutus-link:hover {
	background-image: url('../img/about-us-active.png');
}
.nav-delivery-link:hover {
	background-image: url('../img/delivery-active.png');
}
.nav-cart-link:hover {
	background-image: url('../img/cart-active.png');
}
/********** Ribbon nav menu ******************/
.subnav-right-top,
.subnav-left-top, {
	background-color: $color-pink-light;
	position: relative;
	line-height: 27px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: 9999px;
		background: $color-pink-light;
	}
}
.subnav-left-top {
	margin-right: 45px;
	&:before {
		left: -9999px;
	}
	&:after {
		content: url('../img/strip.png');
		display: inline-block;
		position: absolute;
		right: -45px;
		transform: scaleX(-1);
		background-color: transparent;
		bottom: -7px;
	}
	a {
		color: $color-pink-dark;
	}
}
.subnav-right-top {
	margin-left: 45px;
	&:before {
		left: 100%;
	}
	&:after {
		content: url('../img/strip.png');
		display: inline-block;
		position: absolute;
		left: -45px;
		bottom: -7px;
		background-color: transparent;
	}
	a {
		color: #535353;
	}
}
/******** Center block input search styles *********/
.header-search-form {
	position: relative;
	margin-top: 25px;
	input {
		@include placeholder-color(#a0d4da);
		box-sizing: border-box;
		width: 100%;
		padding-left: 32px;
		border: none;
		background-image: url('../img/search-inactive.png');
		background-position: center right 32px;
		background-repeat: no-repeat;
		&:focus {
			outline: none;
			background-image: url('../img/search-active.png');
			background-position: center right 22px;
		}
	}
	label {
		position: absolute;
		height: 100%;
		width: 100%;
		&:after,
		&:before {
			position: absolute;
			width: 100%;
		}
		&:before {
			content: url('../img/search-border-top.png');
			top: -18px;
		}
		&:after {
			content: url('../img/search-border-bottom.png');
			bottom: -21px;
		}
	}
}