header {
	min-height: 514px;
	background-image: url('../img/header-background.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	.container {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}
.header-link {
	background-color: $color-pink-light;
	color: $color-pink-dark;
	padding: 10px;
	vertical-align: middle;
	& > * {
		display: inline-block;
	}
}
.header-callback-link {
	&:before {
	}
	div {
		border-left: 1px white solid;
		border-top-left-radius: 40%/50%;
		img {
			margin-top: 7px;
		}
	}
}
.header-email-link {
	div {
		border-right: 1px solid white;
	}
}
.header-left-strip,
.header-right-strip {
	background-color: $color-pink-light;
	width: 100%;
	position: relative;
}
.header-left-strip {
	&:before {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		left: 500px;
		background: $color-pink-light;
		transform: rotate(-180deg);
	}
	a {
		color: $color-pink-dark;
	}
}
.header-right-strip {
	a {
		color: #535353;
	}
}
.subnav-left-bottom,
.subnav-right-bottom {
	a {
		display: inline-block;
		background-repeat: no-repeat;
	}
	a img {
		transition: all linear 0.5s;
	}
	a:hover {
		img {
			opacity: 0;
		}
	}
}

/********** navbar image links on hover in header ***********/
.nav-ranf-link:hover {
	background-image: url('../img/ranf-active.png');
}
.nav-satin-link:hover {
	background-image: url('../img/satin-active.png');
}
.nav-kids-link:hover {
	background-image: url('../img/kids-active.png');
}
.nav-aboutus-link:hover {
	background-image: url('../img/about-us-active.png');
}
.nav-delivery-link:hover {
	background-image: url('../img/delivery-active.png');
}
.nav-cart-link:hover {
	background-image: url('../img/cart-active.png');
}