@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans');

font-family {
	src: '../fonts/VibesPro.ttf';
}

$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 1/4, // The size of a gutter in relation to a single column
  container: 1000px
);
