.aquamarine-background-section {
	background-color: $color-aquamarine-light;
}
.cotton-background-section {
	background-image: url('../img/cotton-left-background.png'), url('../img/cotton-right-background.png') ;
	background-position: left top, right top;
	background-repeat: no-repeat;
}
.goods-slider {
	@include container();
	.goods {
		@include span(3 of 12);
		&:last-child {
			@include span(last);
		}
	}
}
.goods figure {
	border-radius: 12px;
	overflow: hidden;
	.goods-image {
		position: relative;
		img {
			width: 100%;
		}
		a {
			position: absolute;
			display: inline-block;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 90%;
			color: white;
			border-top: 1px solid white;
			border-left: 1px solid white;
			border-top-left-radius: 14em;
			border-top-right-radius: 44% 22%;
		}
	}
	figcaption {
		background-color: white;
		display: block;
		margin-top: -4px;
		& > *:not(a) {
			display: inline-block;
		}
		h3 {
			margin-top: 5px;
		}
		.goods-cart {
			position: absolute;
		}
	}
}
